<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>200894776265-990a22t6or7980uh0fm08gimlgk4ibuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200894776265-990a22t6or7980uh0fm08gimlgk4ibuk</string>
	<key>API_KEY</key>
	<string>AIzaSyDMRmb1Z0q3Apl5FXQovYiF6WMCjJnbnZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>200894776265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qodehub.ios.Moneyloc</string>
	<key>PROJECT_ID</key>
	<string>moneyloc-2a0d6</string>
	<key>STORAGE_BUCKET</key>
	<string>moneyloc-2a0d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200894776265:ios:bfc6c2abeea1dfa6</string>
	<key>DATABASE_URL</key>
	<string>https://moneyloc-2a0d6.firebaseio.com</string>
</dict>
</plist>